 <!-- Begin Accordion Snippet --><style><!--
.so-tab {
position: relative;
width: 100%;
overflow: hidden;
margin: 25px 0;
}
.so-tab label {
position: relative;
display: block;
text-align: center;
line-height: normal;
cursor: pointer;
}
.so-tab input {
position: absolute;
opacity: 0;
z-index: -1;
}
.so-tab-content {
max-height: 0;
overflow: hidden;
text-align: center;
transition: max-height .35s;
}
/* :checked */
.so-tab input:checked ~ .so-tab-content {
max-height: none;
}

/* Icon */
.so-tab label::after {
position: absolute;
right: 0;
top: -10px;
display: flex;
width: 8em;
height: 8em;
line-height: 3;
text-align: center;
-webkit-transition: all .35s;
-o-transition: all .35s;
transition: all .35s;
}
.so-tab input[type=checkbox] + label::after {
content: "+";
}
.so-tab input[type=radio] + label::after {
content: "\25BC";
}
.so-tab input[type=checkbox]:checked + label::after {
transform: rotate(20deg);
}
.so-tab input[type=radio]:checked + label::after {
transform: rotateX(180deg);
}

.feature-row__item-campaigns {
  @include flex(0 1 50%);
  text-align: center;

  @include media-query($small) {
    @include flex(1 1 auto);
    width: 100%;
    max-width: 100%;
  }
}

--></style>
<div class="so-accordion-wrapper">
<div class="so-tab"><input id="so-tab-1" type="checkbox" name="tabs" /> <label for="so-tab-1">
    <div class="feature-row__item-campaigns">
              <h2 class="h1"><b>Our Team</b></h2>
    </div>
</label>
<div class="so-tab-content">

<p><b>Adrian</b> - Marketing Team - adrian@projectbreaktheycycle.com</p>
<p><b>Ansley</b> - Marketing Team - ansley@projectbreaktheycycle.com</p>
<p><b>Chaebin</b> - Shop Development Team - chaebin@projectbreaktheycycle.com</p>
<p><b>Chaeeun</b> - Shop Development Team - chaeeun@projectbreaktheycycle.com</p>
<p><b>Darshan</b> - Board Member - darshan@projectbreaktheycycle.com</p>
<p><b>Dheeraj</b> - Operations Lead, Board Member - dheeraj@projectbreaktheycycle.com</p>
<p><b>Farouk</b> - Operations Lead, Board Member - farouk@projectbreaktheycycle.com</p>
<p><b>Haley</b> - Branding Lead - haley@projectbreaktheycycle.com</p>
<p><b>Kate</b> - Branding Lead - kate@projectbreaktheycycle.com</p>
<p><b>SK</b> - Marketing Lead, Board Member - sk@projectbreaktheycycle.com</p>
<p><b>Sunny</b> - Marketing Lead, Board Member - sanjeeth@projectbreaktheycycle.com</p>

</div>
</div>
</div>
